In [3]:
import pandas as pd

# Sample DataFrame
data = {'Category': ['A', 'A', 'B', 'B', 'C', 'C'],
        'Value1': [5, 10, 15, 20, 25, 30],
        'Value2': [50, 100, 150, 200, 250, 300]}

df = pd.DataFrame(data)
print("Sample DataFrame:")
print(df)
group=df.groupby("Category").agg( Total_Value1=('Value1', 'sum'),
    Average_Value2=('Value2', 'mean'))

Sample DataFrame:
  Category  Value1  Value2
0        A       5      50
1        A      10     100
2        B      15     150
3        B      20     200
4        C      25     250
5        C      30     300

In [4]:
print("Group::")
print(group)

Group::
          Total_Value1  Average_Value2
Category
A                   15            75.0
B                   35           175.0
C                   55           275.0