Mastering advanced indexing and slicing in Pandas DataFrames

 .loc[] and .iloc[] for Indexing

df.loc[]: Label-based indexing. It selects rows and columns by their labels (names).

df.iloc[]: Position-based indexing. It selects rows and columns by their integer positions (index).

Examples of .loc[]:
Select specific rows and columns by labels.

 Select row with label 0 and columns 'A' and 'B'
df.loc[0, ['A', 'B']]  # Returns row 0 and columns A and B

In [2]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})


df['A']


print(df.iloc[0, 1])

4

In [3]:
df.loc[0, ['A', 'B']]

A    1
B    4
Name: 0, dtype: int64

In [4]:
print(df.loc[0:2,:])  ##2 in inclusive

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [5]:
df.iloc[0:3, 0:2]

   A  B
0  1  4
1  2  5
2  3  6

In [6]:
# df.loc[]: Label-based indexing. It selects rows and columns by their labels (names).
# df.iloc[]: Position-based indexing. It selects rows and columns by their integer positions (index).

In [8]:
df.iloc[0:2, 0:2]
## end is exclusive

   A  B
0  1  4
1  2  5

.at[] and .iat[] for Fast Scalar Access

.at[]: Used for accessing a single value in a DataFrame by label (faster than .loc[] for scalar access).

.iat[]: Used for accessing a single value by position (faster than .iloc[] for scalar access).

In [10]:
print(df.iat[0, 1])  # Access the value at row 0 and column 1 (position-based)

4

In [11]:
df.set_index('A', inplace=True)  # Sets column 'A' as the index

Write a Pandas program that uses MultiIndex to select data based on conditions.

In [16]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'X': [1, 6, 8, 3, 7],
    'Y': [5, 2, 9, 4, 1],
    'Z': ['one', 'one', 'two', 'two', 'one']
})

# Set MultiIndex
df = df.set_index(['Z'])

# Conditional selection with MultiIndex
result = df.loc[('one', slice(None))]
print(result)

     X  Y
Z
one  1  5
one  6  2
one  7  1