15. Create a dataframe of ten rows, four columns with random values. Write a Pandas program to display bar charts in dataframe on specified columns.

In [5]:
import pandas as pd
import numpy as np
np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
df.iloc[0, 2] = np.nan
df.iloc[3, 3] = np.nan
df.iloc[4, 1] = np.nan
df.iloc[9, 4] = np.nan
print("Original array:")
print(df)
print("\nBar charts in dataframe:")
df.style.bar(subset=['B', 'C'], color='#d65f5f')

Original array:
      A         B         C         D         E
0   1.0  1.329212       NaN -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011       NaN  0.850229
4   5.0       NaN  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538       NaN

Bar charts in dataframe:

In [3]:
pip install Jinja2

Collecting Jinja2
  Downloading jinja2-3.1.5-py3-none-any.whl.metadata (2.6 kB)
Collecting MarkupSafe>=2.0 (from Jinja2)
  Downloading MarkupSafe-3.0.2-cp312-cp312-win_amd64.whl.metadata (4.1 kB)
Downloading jinja2-3.1.5-py3-none-any.whl (134 kB)
Downloading MarkupSafe-3.0.2-cp312-cp312-win_amd64.whl (15 kB)
Installing collected packages: MarkupSafe, Jinja2
Successfully installed Jinja2-3.1.5 MarkupSafe-3.0.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
'''
np.random.seed(24): Sets a seed for reproducibility.
np.linspace(1, 10, 10): Creates an array of 10 evenly spaced values between 1 and 10 for column 'A'.
np.random.randn(10, 4): Generates a 10x4 array of random values from a standard normal distribution (mean=0, std=1).
The resulting DataFrame has 5 columns (A, B, C, D, E), with column 'A' containing 
linearly spaced values and the others containing random values.
'''
import pandas as pd
import numpy as np
import seaborn as sns

np.random.seed(24)
df = pd.DataFrame({'A': np.linspace(1, 10, 10)})
df = pd.concat([df, pd.DataFrame(np.random.randn(10, 4), columns=list('BCDE'))],
               axis=1)
print("Original array:")
print(df)
print("\nDataframe - Heatmap style:")

cm = sns.light_palette("red", as_cmap=True)
 
df.style.background_gradient(cmap='viridis')

Original array:
      A         B         C         D         E
0   1.0  1.329212 -0.770033 -0.316280 -0.990810
1   2.0 -1.070816 -1.438713  0.564417  0.295722
2   3.0 -1.626404  0.219565  0.678805  1.889273
3   4.0  0.961538  0.104011 -0.481165  0.850229
4   5.0  1.453425  1.057737  0.165562  0.515018
5   6.0 -1.336936  0.562861  1.392855 -0.063328
6   7.0  0.121668  1.207603 -0.002040  1.627796
7   8.0  0.354493  1.037528 -0.385684  0.519818
8   9.0  1.686583 -1.325963  1.428984 -2.089354
9  10.0 -0.129820  0.631523 -0.586538  0.290720

Dataframe - Heatmap style:

In [1]:
# Learning Example

In [2]:
import pandas as pd
import numpy as np

# Sample DataFrame
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4.12345, 5.67891, 6.54321],
    'C': [7, 8, 9]
})

# Apply a style
df.style

In [7]:
#  : Introduces the format specification inside the {} placeholder. Everything after the : describes 
#  how the value should be formatted.
df.style.format({'B':"{:.3f}"})

In [8]:
print("{:,.2f}".format(1234567.891))

1,234,567.89

In [9]:
df.style.highlight_max()

In [10]:
df.style.highlight_min()

In [11]:
df.style.highlight_null()

In [16]:
df.style.highlight_between(left=0,right=8)

In [19]:
def highlight_greater_than_5(value):
    color="red" if value>5 else ""
    return f"background-color:color"

df.style.applymap(highlight_greater_than_5)

C:\Users\MeetMavani\AppData\Local\Temp\ipykernel_12808\714541509.py:5: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df.style.applymap(highlight_greater_than_5)

In [20]:
df.style.background_gradient(cmap='viridis')

In [22]:
df.style.bar(color=['lightblue',"pink"], subset=['A', 'B'])