A Pivot Table in pandas is a powerful tool for data aggregation and summarization. It allows you to rearrange (pivot) the data to create a summary of certain statistics like sum, mean, count, or other aggregation functions.

The pandas pivot_table() function provides a flexible way to group and aggregate your data, and it's especially useful for exploratory data analysis.

Syntax of pivot_table()

python

Copy code

df.pivot_table(
   
    data=None,                  # DataFrame
   
    values=None,                # Column(s) to aggregate
    
    index=None,                 # Rows of the pivot table
    
    columns=None,               # Columns of the pivot table
   
    aggfunc='mean',             # Aggregation function (default is 'mean')
   
    fill_value=None,            # Replace missing values
   
    margins=False,              # Add a total row and column
    
    margins_name='All',         # Name of the total row/column
    
    dropna=True,                # Drop columns with missing values in the result
    
    observed=False              # Treat categorical variables as "observed" (only in pandas 1.1+)
)

In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'Region': ['North', 'North', 'East', 'East', 'West', 'West', 'West'],
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Sales': [200, 150, 300, 250, 500, 400, 600],
    'Units': [10, 7, 15, 12, 30, 20, 40]
}
df=pd.DataFrame(data)

In [9]:
pivot_table=df.pivot_table(values=["Sales","Units"],index="Region",aggfunc=["sum","mean"])

In [10]:
print(pivot_table)

         sum         mean
       Sales Units  Sales Units
Region
East     550    27  275.0  13.5
North    350    17  175.0   8.5
West    1500    90  500.0  30.0

In [11]:
# Handling Missing Data (Fill with fill_value):
# If your dataset has missing values (NaN), you can replace them using the fill_value parameter.

# Pivot table with missing values and fill missing values with 0
pivot_table = df.pivot_table(values='Sales', index='Region', aggfunc='sum', fill_value=0)

print(pivot_table)

        Sales
Region
East      550
North     350
West     1500

In [12]:
pivot_table = df.pivot_table(values='Sales', index=['Region', 'Salesperson'], aggfunc='sum')
print(pivot_table)

                    Sales
Region Salesperson
East   Charlie        300
       David          250
North  Alice          200
       Bob            150
West   Eve            500
       Frank          400
       Grace          600

In [16]:
import pandas as pd
import numpy as np
df = pd.read_csv('titanic.csv')

result = df.pivot_table(values='survived', index=['sex' , 'alone' ], columns=[ 'embark_town', 'class' ])
print(result)

embark_town  Cherbourg                     Queenstown                   \
class            First    Second     Third      First Second     Third
sex    alone
female False  1.000000  1.000000  0.611111        1.0    NaN  0.625000
       True   0.944444  1.000000  0.800000        NaN    1.0  0.760000
male   False  0.473684  0.166667  0.500000        0.0    NaN  0.100000
       True   0.347826  0.250000  0.151515        NaN    0.0  0.068966

embark_town  Southampton
class              First    Second     Third
sex    alone
female False    0.941176  0.923077  0.327586
       True     1.000000  0.892857  0.466667
male   False    0.407407  0.300000  0.142857
       True     0.326923  0.089552  0.123762